<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Python Data Visualizations</title>
  </head>
  <body>

<div class="container col-md-10">
		<h1 class="mt-5">Python Assignment 3 - Rendering Data Visualizations in Flask App</h1>
		<div style="border-top: 4px solid blue;"></div>
		<p class="mt-5">Choose from one of these options:</p>
	<ul>
		<li>Display the <a href="/dataviz" target="_blank">Data visualizations</a>.</li>
		<li>Show me the <a href="/rawdata" target="_blank">first five rows of data</a>.</li>
	</ul>

	<div style="border-top: 4px solid blue;"></div>
	<address class="mt-5">
		<strong>Libraries to be Installed</strong>
		<p>seaborn</p>
		<p>matplotlib</p>
		<p>altair</p>
		<p>pandas</p>
		<p>numpy</p>
		<p>mysql</p>
</address>

<div style="border-top: 4px solid blue;"></div>
	<address class="mt-5">
		<p>STUDENT NAME:Harinath Selvaraj</p>
		<p>STUDENT NUMBER:	C00235324 </p>
		<p>COURSE NAME:	Masters in Data Science </p>
		<p>DEPARTMENT:	Department of Computing and Networking </p>
		<p>COURSE CODE:	CW_KCDAT_M </p>
		<p>DATE OF SUBMISSION: 	11 JANUARY 2019</p>
	</address>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

